@mixin mp ($size){
    @media only screen and (min-width: $size) {
        @content;
    }
        
    
}

@mixin header {
    width:320px;
    height: 220px;
    margin: auto;
    text-align: center;
    background-size: cover;
    z-index: 1;
}
@mixin gradient{
    background-image: linear-gradient(to bottom right,$secondary, $primary);
}

