@mixin mp ($size){
    @media only screen and (min-width: $size) {
        @content;
    }
        
    
}

@mixin header {
    width:350px;
    height: 250px;
    margin: auto;
    text-align: center;
    background-size: cover;
    z-index: 1;
}
@mixin gradient{
    background-image: linear-gradient(to bottom right,$secondary, $primary);
}

@mixin checkmark {
    .check-value{
        width: 105px;
        height: 54px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        position: relative;
        left: 310px;
        bottom: 67px;
        &:hover{
            transform: translateX(-100%);
            transition-duration: 1000ms;
        }
    
        .check-mark{
            background-color: $tertiary;
            width: 60px;
            height: 55px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: relative;
            left: 25px;
             
                
            &:hover{
                background-color: $tertiary;
            }
        }
    
        .valuta2{
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            color: black;
            background-color: white;
            border-radius: 0px;
            position: relative;
            left:15px;
            top: 27px;
            
            font-weight: map-get($font-weights, medium );
            background-color: transparent; 
        }
        & .fa-circle-check{
            color: black;
            justify-content: center;
            padding: 17px;
            font-size: 20px;
            color: white;
           /* color: transparent;*/
            transition: transform 700ms;
           
         
            &:hover{
            transform: rotate(360deg);
            color: white;
            }
        
            }
    
            
    }
}