.loader {
  -webkit-animation: fade-out 3s ease-in 3s both;
          animation: fade-out 3s ease-in 3s both;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
  opacity: 0.97;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.loader_bar {
  width: 100%;
}

.loader_bar:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-bottom: 5px solid white;
  width: 50%;
  position: relative;
  top: 77px;
  -webkit-animation: border_an 3s both;
          animation: border_an 3s both;
}

.loader_bar h5 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Shrikhand', cursive;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-animation: shadow 3s infinite;
          animation: shadow 3s infinite;
}

@-webkit-keyframes fade-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.8;
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.7;
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.6;
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.5;
  }
  to {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.4;
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
}

@keyframes fade-out {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.8;
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.7;
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.6;
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.5;
  }
  to {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99E2D0), color-stop(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#99E2D0, #9356DC, #FF79DA);
    opacity: 0.4;
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
}

@-webkit-keyframes border_an {
  0% {
    width: 0;
  }
  10% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border_an {
  0% {
    width: 0;
  }
  10% {
    width: 20%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes shadow {
  0% {
    text-shadow: 0px 0px 10px #fff;
  }
  25% {
    text-shadow: 0px 0px 20px #9356DC;
  }
  60% {
    text-shadow: 0px 0px 20px #99E2D0;
  }
  100% {
    text-shadow: 0px 0px 20px #FF79DA;
  }
}

@keyframes shadow {
  0% {
    text-shadow: 0px 0px 10px #fff;
  }
  25% {
    text-shadow: 0px 0px 20px #9356DC;
  }
  60% {
    text-shadow: 0px 0px 20px #99E2D0;
  }
  100% {
    text-shadow: 0px 0px 20px #FF79DA;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 35px;
  margin: auto;
  text-align: center;
}

.gray-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: column;
  background: #e2e1e1;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location_icon {
  margin: 7px;
}

.location_text {
  margin: 7px;
  font-family: 'Roboto', sans-serif;
}

.book-it {
  padding: 40px;
  background: #f5f4f4;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.book-it _text {
  margin: 20px;
}

.book-it_bottom-text {
  margin: 20px;
  color: #837d7d;
}

.book-it .explore {
  font-size: 16px;
  margin: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 1px 0px #5d5e5f;
          box-shadow: 0px 0px 1px 0px #5d5e5f;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttons-bar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px;
}

.buttons-bar .how-it-works-title {
  font-family: 'Roboto', sans-serif;
  text-align: start;
}

div span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  right: 20px;
}

.how-it-works {
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f5f4f4;
  -webkit-box-shadow: 0px 2px 5px 0px #d5d7da;
          box-shadow: 0px 2px 5px 0px #d5d7da;
  color: black;
  padding: 15px 5px;
  text-align: start;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  width: 100%;
}

.how-it-works:hover {
  background-color: #f2eafb;
}

.how-it-works:hover .fa-mobile-alt, .how-it-works:hover .fa-list, .how-it-works:hover .fa-store {
  color: #762bcf;
}

.fa-mobile-alt, .fa-list, .fa-store {
  margin-right: 20px;
}

/*IMAGES MENU BAR*/
.restaurants {
  width: 100%;
  background-color: #f5f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurants_title {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 30px;
  background-color: #f5f4f4;
}

.restaurants_p-text-menu {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  position: relative;
  bottom: 22px;
  font-weight: 300;
}

.restaurants.restaurants_h2-title {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 10px;
}

.restaurants.restaurants_p-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 300;
}

.restaurants .new {
  background-color: #99E2D0;
  width: 80px;
  padding: 15px;
  border-radius: 0%;
  position: relative;
  left: 210px;
  bottom: 220px;
}

.restaurants .new_text {
  color: #278870;
}

.bi-heart {
  position: relative;
  left: 260px;
  bottom: 5.5px;
  font-size: 25px;
}

.bi-heart-fill {
  position: relative;
  left: 232.5px;
  bottom: 7px;
  font-size: 22px;
  color: white;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.bi-heart-fill:hover {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
}

/*Links*/
a.links {
  color: black;
  text-decoration: none;
}

a.link:active {
  color: black;
}

.card1 {
  background: white;
  width: 300px;
  height: 220px;
  margin: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px #c5c6c7;
          box-shadow: 0px 0px 10px 0px #c5c6c7;
}

.card-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.photo1 {
  background-image: url("../Images/photo1.jpg");
  background-size: cover;
  height: 160px;
  background-position: center;
}

.photo2 {
  background-image: url("../Images/photo2.jpg");
  background-size: cover;
  height: 160px;
  background-position: center;
}

.photo3 {
  background-image: url("../Images/photo3.jpg");
  background-size: cover;
  height: 160px;
  background-position: center;
}

.photo4 {
  background-image: url("../Images/photo4.jpg");
  background-size: cover;
  height: 160px;
  background-position: center;
}

footer {
  background-color: #414040;
  padding-bottom: 20px;
}

h3 {
  font-family: 'Shrikhand', cursive;
  color: white;
  padding: 20px;
  text-align: start;
}

p.footer {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-left: 20px;
}

a.contact {
  color: white;
  text-decoration: none;
}

.fa-utensils {
  padding-right: 5px;
}

/*all 4 pages incomon*/
a.arrow {
  color: black;
  text-decoration: none;
}

a.arrow:active {
  color: #f5f4f4;
}

.fa-arrow-left {
  position: relative;
  right: 30px;
}

/*header image*/
.header {
  background-image: url("../Images/photo3.jpg");
  width: 350px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-size: cover;
  z-index: 1;
}

.header1 {
  background-image: url("../Images/photo4.jpg");
  width: 350px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-size: cover;
  z-index: 1;
}

.header2 {
  background-image: url("../Images/photo5.jpg");
  width: 350px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-size: cover;
  z-index: 1;
}

.header3 {
  background-image: url("../Images/photo1.jpg");
  width: 350px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-size: cover;
  z-index: 1;
}

/*second logo with Shrikhand font*/
.logo-second {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  margin: 10px;
  text-align: start;
}

/*container with all content*/
.menu {
  background-color: #f5f4f4;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 1;
  margin-top: -30px;
  padding-right: 15px;
  padding-left: 5px;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*entrees, main-dish and desserts with mint border*/
.small-titles {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 20px;
  font-weight: 300;
}

.small-titles_size {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 10px;
}

/*white boxes with checklist symbol*/
.box {
  width: 100%;
  height: 55px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #c5c6c7;
          box-shadow: 0px 0px 5px 0px #c5c6c7;
  margin: 5px;
  padding-top: 0.2px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box:active .box2 {
  -webkit-transform: translateX(-135%);
          transform: translateX(-135%);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

@media screen and (min-width: 400px) {
  .box:active .box2 {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

@media screen and (min-width: 450px) {
  .box:active .box2 {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

@media screen and (min-width: 600px) {
  .box:active .box2 {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

@media screen and (min-width: 650px) {
  .box:active .box2 {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

@media screen and (min-width: 750px) {
  .box:active .box2 {
    -webkit-transform: translateX(-27%);
            transform: translateX(-27%);
    -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
  }
}

.box:active .box3 {
  -webkit-transform: translateX(-86%);
          transform: translateX(-86%);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.box:active .fa-circle-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: white;
}

.box .chocholate {
  width: 400px;
}

.box .box1 {
  width: 90%;
}

.box .box1 .restaurants_h2-title {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 10px;
}

.box .box1 .restaurants_p-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 10px;
  font-weight: 300;
}

.box .box2 {
  width: 10%;
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  background-color: white;
  position: relative;
  right: 20px;
}

.box .box2 #valuta {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white;
  border-radius: 0px;
  width: 20px;
  font-weight: 600;
  background-color: transparent;
}

@media screen and (min-width: 600px) {
  .box .box2 #valuta {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .box .box2 #valuta {
    font-size: 17px;
  }
}

@media screen and (min-width: 1250px) {
  .box .box2 #valuta {
    font-size: 17px;
  }
}

/*CHECK-VALUE ANIMATION*/
.box3 {
  background-color: #99E2D0;
  width: 60px;
  height: 55px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  left: 60px;
  bottom: 51px;
}

@media screen and (min-width: 750px) {
  .box3 {
    position: relative;
    left: 75px;
    bottom: 51px;
  }
}

@media screen and (min-width: 850px) {
  .box3 {
    position: relative;
    left: 85px;
    bottom: 51px;
  }
}

@media screen and (min-width: 950px) {
  .box3 {
    position: relative;
    left: 98px;
    bottom: 51px;
  }
}

@media screen and (min-width: 1050px) {
  .box3 {
    position: relative;
    left: 108px;
    bottom: 51px;
  }
}

@media screen and (min-width: 1100px) {
  .box3 {
    position: relative;
    left: 120px;
    bottom: 51px;
  }
}

@media screen and (min-width: 1200px) {
  .box3 {
    position: relative;
    left: 130px;
    bottom: 51px;
  }
}

@media screen and (min-width: 1250px) {
  .box3 {
    position: relative;
    left: 140px;
    bottom: 51px;
  }
}

.box3 .valuta2 {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white;
  border-radius: 0px;
  position: relative;
  left: 15px;
  top: 27px;
  font-weight: 600;
  background-color: transparent;
}

.box3 .fa-circle-check {
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px;
  font-size: 20px;
  color: white;
  /* color: transparent;*/
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.box3 .fa-circle-check:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: white;
}

.order {
  padding-bottom: 60px;
  background: #f5f4f4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.order-button {
  background: #f5f4f4;
  font-size: 16px;
  width: 150px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 1px 0px #5d5e5f;
          box-shadow: 0px 0px 1px 0px #5d5e5f;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */